<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcademicService">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.StudentDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.AddStudentActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.CourseManagementActivity"
            android:exported="false"
            android:parentActivityName=".ui.StudentDetailActivity" />

        <activity
            android:name=".ui.FinancialReportActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.CalendarActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />

        <receiver
            android:name=".notification.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.academicservice.ASSIGNMENT_REMINDER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
